---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


<h2>Current Projects</h2>

<ul>
  {% for project in site.data.projects.current_projects %}
  <li>
    <strong>{{ project.acronym }}</strong> ({{ project.program }}), {{ project.period }}.<br />

    Role:
    {% if project.role contains "(PI)" %}
    <strong>{{ project.role }}</strong>
    {% else %}
    {{ project.role }}
    {% endif %}
    {% if project.budget_cttc %}
    . Budget to CTTC: {{ project.budget_cttc }}
    {% endif %}
    .
  </li>
  {% endfor %}
</ul>


<h2>Previous Projects</h2>

<h3>Competitive Research Projects</h3>
<ul>
  {% for project in site.data.projects.research_projects %}
  <li>
    <strong>{{ project.acronym }}</strong> ({{ project.program }}), {{ project.period }}.<br />
    Role: {{ project.role }}. Total budget: {{ project.budget_total }}.
  </li>
  {% endfor %}
</ul>

<h3>Industrial & Contract Research Projects</h3>
<ul>
  {% for project in site.data.projects.industrial_projects %}
  <li>
    <strong>{{ project.acronym }}</strong> ({{ project.company }}), {{ project.period }}.<br />
    Role: {{ project.role }}. Budget to CTTC: {{ project.budget_cttc }}.
  </li>
  {% endfor %}
</ul>

<hr />